.general {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 8px;
}

.button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100px;
}